# Ignore all files by default
*

# Allow all directories (so we can selectively include content)
!*/

# Allow only src/ directory and its contents
!**/src/
!**/src/**

# Ignore object files and other build artifacts
*.obj
*.o
*.lo
*.la
*.al
*.gch
*.d

# Ignore build folders
obj/
bin/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Visual Studio specific (optional)
*.vcxproj.user
*.suo
*.user